@font-face {
  font-family: "Segoe-UI-Regular";
  src: url("/fonts/Segoe-UI-Regular");
}
@font-face {
  font-family: "Segoe-UI-Bold";
  src: url("/fonts/Segoe-UI-Bold");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  overflow-y: overlay;
}
#__next {
  @apply w-[100vw] overflow-x-hidden;
}

html {
  @apply scroll-smooth;
}

@layer components {
  .title_lg {
    @apply text-[30px] leading-[45px] md:text-[55px] md:leading-[65px] font-medium text-white uppercase;
  }
  .title_md {
    @apply text-[25px] leading-[35px] font-medium text-blue-600;
  }
  .title_sm {
    @apply text-lg font-medium text-blue-600;
  }
  .text_lg {
    @apply text-base md:text-xl font-normal text-gray-soft;
  }
  .text_md {
    @apply text-base leading-[25px] font-medium text-gray-soft;
  }
  .text_sm {
    @apply text-[14px] leading-[23px] font-normal text-gray-soft;
  }

  .__input {
    @apply rounded-full bg-dark-soft border border-dark-soft focus:border-white/10 outline-none py-3.5 px-8 text-white placeholder:text-gray-soft block w-full;
  }

  .container {
    @apply mx-auto px-5 2xl:max-w-[1300px];
  }

  .card_shadow {
    box-shadow: 0 4px 16px rgb(129, 129, 129, 0.07);
  }
}

.blend_arabic_text {
  background: #fff;
  color: transparent;
  background-color: #fff;
  /* background-image: radial-gradient(circle, #c058ff 0, #ff5858 26%, #000 27%); */
  background-image: url("/img/blend.png");
  background-position: 100% 80%;
  background-size: cover;
  background-repeat: repeat;
  -webkit-background-clip: text;
}

._svg_spinner {
  animation: rotate 2s linear infinite;
}

._svg_spinner .path {
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
